<h1>רימון: מי אנחנו ומה אנחנו עושים</h1>
<div style="float: left">
	<%=image_tag "logo_large.gif"%>
</div>
<h3>מי אנחנו</h3>
<p>
ארבעה יזמים צעירים. אם אתם רוצים לדבר עם מישהו, אז כנראה שאתם רוצים לדבר עם 
<a href="mailto:ofir@vaadnet.com">הבחור הזה</a>.
</p>
<h3>מה אנחנו עושים</h3>
<p>
	רימון מאפשרת לדיירי בניינים משותפים לתקשר ביניהם ובין ועד הבית שלהם. 
	בנוסף, ועד הבית מקבל כלי ניהול מודרניים לניהול הבניין ולתקשורת עם הדיירים.
</p>