<%= begin_page_title "פרטי חוזה"%>
	<%= button_tag "חזרה לרשימה", {:action=>"uc_list"}, "list", false  %>
<%= end_page_title %>
<%= render :partial=>"/shared/unit_contract", :object=>@contract, :locals=>{:link_bu=>false}%>

