<%= begin_page_title "עריכת פרטי משתמש" %>
	<%= button_tag "הצג פרטים", {:action=>"user_show", :id=>@cur_user},"user_view",false %>
	<%= button_tag "רשימת המשתמשים", {:action=>"user_list"}, "user_list",false %>
<%= end_page_title %>

<%= start_form_tag :action=>"user_edit", :id=>@cur_user %>
<%= render :partial=>"user_form", :object=>@cur_user %>
<%= submit_tag "שמור שינויים" %>
<%= end_form_tag %>

