<h1>New building_owner</h1>

<%= start_form_tag :action => 'bo_create' %>
  <%= render :partial => 'bo_form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'bo_list' %>
