<h1>New building</h1>

<%= start_form_tag :action => 'building_create' %>
  <%= render :partial => 'building_form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'building_list' %>
