<% for column in Flat.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @flat.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'flat_edit', :id => @flat %> |
<%= link_to 'Back', :action => 'flat_list' %>
