<h1>New flat</h1>

<%= start_form_tag :action => 'flat_create' %>
  <%= render :partial => 'flat_form' %>
  <%= submit_tag "Create" %>
<%= end_form_tag %>

<%= link_to 'Back', :action => 'flat_list' %>
