<% for column in PlaceListItem.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @place_list_item.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'pli_edit', :id => @place_list_item %> |
<%= link_to 'Back', :action => 'pli_list' %>
