<% for column in SuperUser.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @super_user.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @super_user %> |
<%= link_to 'Back', :action => 'list' %>
