<%= begin_page_title "הוספת משימה חדשה" %>
	<%= button_tag "לרשימת המשימות", {:action=>"mt_tsk_list"}, "list", false %>
<%= end_page_title %>

<%= start_form_tag :action=>"mt_tsk_create" %>
<%= render :partial=>"shared/mt_tsk/mt_task_form", :locals=>{:show_mt_company=>false, :buildings=>@buildings, :show_state=>true} %>
<%= submit_tag "שמור משימה" %>
<%= end_form_tag %>